[submodule "cs4641"]
	path = cs4641
	url = https://github.com/adityaxdiwakar/cs4641
[submodule "cs3510"]
	path = cs3510
	url = https://github.com/adityaxdiwakar/cs3510
[submodule "cs2110"]
	path = cs2110
	url = https://github.com/adityaxdiwakar/cs2110
[submodule "math4221"]
	path = math4221
	url = https://github.com/adityaxdiwakar/math4221
[submodule "Career/resume"]
	path = Career/resume
	url = https://github.com/adityaxdiwakar/resume
[submodule "math4107"]
	path = math4107
	url = https://github.com/adityaxdiwakar/math4107
[submodule "math4320"]
	path = math4320
	url = https://github.com/adityaxdiwakar/math4320
[submodule "math4803"]
	path = math4803
	url = https://github.com/adityaxdiwakar/math4803
[submodule "math4640"]
	path = math4640
	url = https://github.com/adityaxdiwakar/math4640
[submodule "math3215"]
	path = math3215
	url = https://github.com/adityaxdiwakar/math3215
[submodule "cs1332"]
	path = cs1332
	url = https://github.com/adityaxdiwakar/cs1332
[submodule "cs3510ta/notes"]
	path = cs3510ta/notes
	url = https://github.com/adityaxdiwakar/cs3510-notes
